AddDefaultCharset utf-8
RewriteEngine on
RewriteRule ^api/books/ISBN/([0-9_-]+)$ api/api.php?page=books&ISBN=$2 [E]
RewriteRule ^api/books/author/([0-9]+)$ api/api.php?page=books&author_id=$2 [E]
RewriteRule ^api/([a-z]+)/$ api/api.php?page=$1
RewriteRule ^api/([a-z]+)/([0-9]+)$ api/api.php?page=$1&id=$2